# ignore pycach
__*
# don't ignore the gitignore file itself
!/.gitignore

#ignore .pytest_cache everywhere
**/.ptest_cache

#ignore .DS_Store everywhere
**/.DS_Store

#ignore .idea everywhere
**/.idea


